<div class="static-content-page">
  <h1>{{ title }}</h1>
  <div class="static-content-body">
    {{ body|raw }}
  </div>
  <footer class="node-id">
    Static Content Type TWIG Node ID: {{ nid }}
  </footer>
</div>
