{#
/**
 * @file
 * Template for static content iframe rendering.
 *
 * Available variables:
 * - src: The source URL for the iframe.
 * - id: The entity ID.
 * - location: The directory location.
 */
#}
<div class="static-content-iframe-wrapper">
  <iframe 
    src="{{ src }}" 
    width="100%" 
    height="600" 
    frameborder="0" 
    scrolling="auto"
    class="static-content-iframe"
    data-static-id="{{ id }}"
    data-static-location="{{ location }}">
    <p>{{ 'Your browser does not support iframes.'|t }}</p>
  </iframe>
</div>

<script>
(function() {
  // Auto-resize iframe to content height
  function resizeIframe(iframe) {
    try {
      if (iframe.contentWindow && iframe.contentWindow.document) {
        var doc = iframe.contentWindow.document;
        var height = Math.max(
          doc.body.scrollHeight,
          doc.body.offsetHeight,
          doc.documentElement.clientHeight,
          doc.documentElement.scrollHeight,
          doc.documentElement.offsetHeight
        );
        iframe.style.height = height + 'px';
      }
    } catch (e) {
      // Cross-origin restrictions or other errors
      console.log('Could not auto-resize iframe:', e);
    }
  }

  // Find and resize iframes
  var iframes = document.querySelectorAll('.static-content-iframe');
  iframes.forEach(function(iframe) {
    iframe.addEventListener('load', function() {
      resizeIframe(iframe);
    });
  });
})();
</script>
